body {
    font-size: 30px;
    margin: 0;
    padding: 0;

    font-family: 'Roboto Condensed', sans-serif;
}
a {
    color:white;
    text-decoration: none;
}

.header {
    margin-top:-20px;
    background-color: #645ff8;
    padding: 22px 20px 10px 20px;
    height:36px;
    width:100%;
    position: fixed;
}
.arbeitsplan,
.benutzer,
.benutzerkonto,
.logout {
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 15%;
    margin-right:5%;
    height:20px;
    color:white;
}
.logout {
    float: right;
    margin-right:1%;
}
.knopf {
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    border: none;
    color:white;
}
.choosen {
    color: #1a1a1a;
}
.main {
    margin-top:20px;
}
.left-main {
    position: fixed;
    margin-top:50px;
    float: left;
    width:20%;
    height:500px;
}

.right-main {
    margin-top:50px;
    float:right;
    /*border:2px solid green;*/
    width:78%;
    margin-right:10px;
}

table {
    width:100%;
    border-collapse: collapse;
    font-size: 20px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
}
caption {
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}

th {
    text-align:center;
    border:2px solid black;
    border-collapse: collapse;
}
td {
    text-align:center;
    border:1px solid black;
    border-collapse: collapse;
}
.date {
    width:20%;
}
.day {
    background-color: #cfe2f3;
    width:11%;
}
.table-head .day {
    background-color: #f3f3f3;
}
.mitarbeiter {
    background-color: #ffffff;
}

.frei {
    background-color: #90f78a;

}
.frei:before {
    content: "Frei";
}

.urlaub {
    background-color: #86f2fc;

}
.urlaub:before {
    content: "Urlaub";
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    background-color: yellow;
    margin-top: -8px;
    float: right;
    margin-right: 5px;
}

#menu {
    font-size:12px;
    position:relative;
    margin-left:30px;
}

#sub-menu {
    font-size:14px;
    position:absolute;
    margin-left:30px;
}

#menu ul {
    list-style-type:none;
    list-style-image:none;
    margin:0;
    padding:0;
}

#menu li.topmenu {
    float:left;
    width:100%;
}

.topmenu a,
.topmenu button{
    float:left;
    width:100%;
    text-align:center;
}


.topmenu ul{
    display:none;
}

.topmenu a, .submenu a,
.topmenu button, .submenu button{
    padding-top:10px;
    padding-bottom:10px;
    color:black;
    font-weight:bold;
    text-decoration:none;
    background-color: #d1d4ff;
    margin:0;
    border:1px solid black;
}

.submenu a,
.submenu button{
    font-size:12px;
    width:100%;
    position:relative;
    clear:both;
    background-color:#ffffff;
    margin-top:-1px;
    padding-right:22px;
    padding-left:22px;

}

#menu .submenu a:hover,
#menu .submenu button:hover{
    color:black;
    background-color: #cfe2f3;
}

.topmenu:hover ul {
    display:block;
    z-index:500;
}
.topmenu .selected a,
.topmenu .selected button{
    background-color: #d1d4ff;
}

.temp {
    position: relative;
    width:220px;
    height:200px;
    /*border:2px solid blue;*/
    margin-top:500px;
}
.temp p {
    margin-left:30px;
    font-size: 17px;
    font-weight:bold;
}
/* Button Design für Abbrechen und Bestätigen */
.button {
    width: 170px;
    height: 40px;
    font-size: 0.9em;
    background-color: #1f42d4;
    font-weight: bold;
    color: #f1f3f8;
    border-radius: 30px;
    border: black 2px solid;
    margin-left:30px;
}

/* Hover Funktion ändern der Farbe und Pointer */
.button:hover {
    background-color: #399BFF;
    color: #f1f3f8;
    cursor: pointer;
}

.day-menu {
    display:none;
}

.day-word:hover .day-menu {
    display:block;
    position:absolute;
    list-style: none;
    margin-left:-40px;
    margin-top:3px;
}

.day-menu li{
    font-size: 12px;
    padding:4px;
    background-color: #ffffff;
    text-align: left;
    border:1px solid black;
    margin-top:-1px;
}
.day-menu .knopf {
    color:black;
}