/* Allgemein */
body {
    font-size: 30px;
    margin: 50px auto;
    padding: 0;

    font-family: 'Roboto Condensed', sans-serif;
}

/* Gesamter Main Block */
#main {
    max-width: 90%;
    margin: 0 auto;

    /*background-color: gray;*/
}

/* Block der Überschriften Arbeitsplan und Benutzer Anlegen */
#ueberschrift {
    text-align: center;
    padding: 20px;
}

/* Überschrift Arbeitsplan */
#logo-Arbeitsplan {
    font-size: 3em;
    font-weight: bold;
    color: #1f42d4;
    margin-top: 100px;
}

/* Überschrift Benutzer Anmelden*/
#logo-Benutzer-Anmelden {
    font-size: 2em;
    margin-top: 20px;
}

/* Wrapper für die Eingaben ohne Login */
.eingabewrapper {
    width: 850px;
    margin: 0 auto;
    text-align: center;

    /*background-color: green;*/
}

/* Wrapper nur für die Login Eingaben */
#eingabeLoginwrapper {
    width: 850px;
    margin: 0 auto;
    text-align: center;

    /*background-color: red;*/
}

#auswahlwrapper {
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

/* Block für Username */
#username {
    width: 425px;
    float: left;
    margin: 0 auto;
}

/* Block für Password */
#password {
    width: 425px;
    float: right;
    margin: 0 auto;
}

/* Hinweis 3-16 Zeichen (BENUTZERNAME) */
#benutzernameHinweis {
    color: gray;
    width: 400px;
    font-size: 16px;
    text-align: left;
    float: right;
}

/* Hinweis mind. 4 Zeichen (PASSWORT) */
#passwortHinweis {
    color: gray;
    width: 400px;
    font-size: 16px;
    text-align: left;
    float: right;
}

/* Tabelle für die Auswahl (AUSRICHTUNG) */
td {
    text-align: left;
    padding-right: 30px;
}

/* Anpassen der Eingabefelder (LINKS) */
#vorname, #email, #benutzername, #passwort, #urlaubstage {
    font-size: 0.8em;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px auto;
    float: left;
}

/* Anpassen der Eingabefelder (RECHTS) */
#name, #telefonnummer, #passwort {
    font-size: 0.8em;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px auto;
    float: right;
}

/* Button Design für Abbrechen und Bestätigen */
.button {
    width: 200px;
    height: 50px;
    font-size: 0.9em;
    background-color: #1f42d4;
    font-weight: bold;
    color: #f1f3f8;
    border-radius: 30px;
    border: black 2px solid;
    margin-top: 40px;
}

/* Hover Funktion ändern der Farbe und Pointer */
.button:hover {
    background-color: #399BFF;
    color: #f1f3f8;
    cursor: pointer;
}





/*-------------------------------- FIXES --------------------------------*/

/* ClearFix Block */
.clear {
    clear: both;
}

/* Anpassen der Radio-Buttons (VERTICAL) */
input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

/* Typ="number" Feld Fix ohne plus minus am Rand */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}